@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');
html,
body {
    font-family: 'Ubuntu', Poppins;
}

.profiles
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.aboutHeading
{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: black;
}

.about-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: 20px;
    height: 100vh;
    background-image: url('../Homeeg/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.abt-footer{
    position: absolute;
    bottom: 0px;
    width: 100vw;
    /* color: whitesmoke; */
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    /* background-color: #1A1A1A; */
}

@media screen and (max-width:947px) {
    .profiles{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 10px;
        overflow-y: scroll;
    }
}

@media screen and (max-width:500px){
    .profiles{
        display: grid;
        grid-template-columns: auto;
        row-gap: 10px;
    }
    .abt-footer{
        font-size: 1.2rem;
    }

}
@media screen and (max-width:310px){
    .aboutHeading{
        font-size: 3.25rem;
    }
    .abt-footer{
        font-size: 0.75rem;
    }
}

.background-video-abt {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0.5; /* Adjust the opacity as needed */
  }
  
  /* Add other CSS styles as needed */
  