@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .contact-wrapper{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .background {
    display: flex;
    width: 100vw;
    justify-content: center;
    min-height: calc(100vh - 65px - 50px);
    align-items: center;
    
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
  }
  
  .contact-img img{
    width: 300px;
  }
  .screen {
    position: relative;
    background: #141819;
    border-radius: 15px;
    box-shadow: #141819 0px 4px 6px -1px, white 0px 2px 4px -1px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #b9134f;
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Ubuntu', Poppins;
    font-size: 16px;
    font-weight: normal;
  }
  
  .credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  .contact_tail{
    font-size: 1.5rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100vw;
}
.contact_tail p{
    text-align: center;
}
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  
  .thanks-msg{
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .thanks-msg p{
    width: fit-content;
    color: #129c29;
    background-color: white;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    padding: 2px 2px;
  }

  .fade-effect {
    animation: fadeAnimate;
    animation-duration: 2500ms;
  }
  @keyframes fadeAnimate {
    0% {
      opacity: 0;
    } 
    50%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }


  .background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 65px;
    min-height: calc(100% - 65px);
    min-width: 100%;
    /* z-index: 1; */
    opacity: 0.75; /* Adjust the opacity as needed */
  }
  
  @media (min-aspect-ratio: 16/9) {
    .background-video {
      width: auto;
      height: 100%;
    }
  }
  
  @media (min-aspect-ratio: 16/9) {
    .background-video {
      width: 100%;
      height: auto;
    }
  }
  